{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div class="text-center p-5">

        {% for item in page.gallery_images.all %}
            {% image item.image max-200x200 class="profile-image" %}
        {% endfor %}

        <h1 class="pt-3 fw-bold">{{ page.name }}</h1>
        <h5 class="pt-1">{{ page.intro|richtext }}</h5>

        <div class="social links pt-2">
            {% for link in page.social_links.all %}
                <a href="{{ link.link_url }}">{% image link.icon width-30 style="vertical-align: middle" %}</a>
                &nbsp;&nbsp;
            {% endfor %}
        </div>

    </div>

{% endblock content %}
