{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <!-- Page meta  -->

    <h3>{{ page.title }}</h3>

    <p class="meta">{{ page.date }}</p>

    {% if page.categories.all %}
        <p>
            Posted in:
            {% for category in page.categories.all %}

                    {% image category.icon fill-24x24 style="vertical-align: middle" %}
                    {{ category.name }}

            {% endfor %}
        </p>
    {% endif %}

    <!-- Page text  -->

    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}

    <!-- Page images -->

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px;">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption}}</p>
        </div>
    {% endfor %}

    <!-- Tags -->

    {% if page.tags.all.count %}
        <p>
            Tags:
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                    <button type="button" class="btn btn-primary btn-sm">
                        {{ tag|capfirst }}
                    </button></a>
            {% endfor %}
        </p>
    {% endif %}

{% endblock %}
