{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    <!-- Nav links  -->

    <p>
        <a href="{% slugurl 'home' %}">Homepage</a>
        &nbsp;>&nbsp;
        <a href="{% slugurl 'blog' %}">Blog</a>
        &nbsp;>&nbsp;{{ page.title }}
    </p>

    <!-- Tag list -->

    <h1>Blog Tags</h1>

    {% if request.GET.tag|length %}
        <h3>Showing pages tagged "{{ request.GET.tag }}"</h3>
    {% endif %}

    {% for blogpage in blogpages %}

        <h3><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></h3>
        <p>Last updated: {{ blogpage.latest_revision_created_at }}</p>

    {% endfor %}

{% endblock %}
