{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <div class="row d-flex justify-content-center pb-5">
        <div class="col-10">

            <!-- Page meta  -->

            <div class="div text-center pb-3">

                <h3 class="pb-3">{{ page.title }}</h3>

                <p class="text-muted">{{ page.date }}</p>

                <!-- Categories -->

                {% if page.categories.all %}
                    <p class="text-muted pb-1">
                        Posted in:
                        {% for category in page.categories.all %}
                            {% image category.icon fill-20x20 style="vertical-align: middle" %}
                            {{ category.name }}
                            &nbsp;
                        {% endfor %}
                    </p>
                {% endif %}

                <!-- Tags -->

                {% if page.tags.all.count %}
                    <p class="text-muted">
                        Tags:
                        {% for tag in page.tags.all %}
                            <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                                <button type="button" class="btn btn-outline-primary btn-sm">
                                    {{ tag|capfirst }}
                                </button></a>
                        {% endfor %}
                    </p>
                {% endif %}

            </div>

            <!-- Page text  -->

            <div class="lh-lg pb-3 text-justify">
                {{ page.body|richtext }}
            </div>

            <!-- Page images -->

            <div class="row pb-3">
                <div class="col">
                    <div class="blog-page-image-block">

                    {% for item in page.gallery_images.all %}

                        {% image item.image width-400 class="blog-page-image border" %}

                        <p class="text-center text-muted p-2">{{ item.caption}}</p>

                    {% endfor %}

                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
