{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <div class="row d-flex justify-content-center pb-5">
        <div class="col">

            <!-- Page meta  -->

            <div class="div text-center pb-3">

                <h3 class="pb-3">{{ page.title }}</h3>

                <p class="text-muted">{{ page.date }}</p>

                <!-- Categories -->

                {% if page.categories.all %}
                    <p class="text-muted pb-1">
                        Posted in:
                        {% for category in page.categories.all %}
                            {% image category.icon fill-20x20 style="vertical-align: middle" %}
                            {{ category.name }}
                            &nbsp;
                        {% endfor %}
                    </p>
                {% endif %}

                <!-- Tags -->

                {% if page.tags.all.count %}
                    <p class="text-muted">
                        Tags:
                        {% for tag in page.tags.all %}
                            <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                                <span class="badge rounded-pill mt-2 bg-primary">{{ tag|capfirst }}</span>
                            </a>
                        {% endfor %}
                    </p>
                {% endif %}

            </div>

            <!-- Page text  -->

            <div class="lh-lg pb-3 text-justify">

                {% for block in page.body %}

                    {% if block.block_type == 'heading' %}
                        <h5>{{ block.value }}</h5>
                    {% endif %}

                    {% if block.block_type == 'paragraph' %}
                        <p>{{ block.value|richtext }}</p>
                    {% endif %}

                    {% if block.block_type == 'image' %}
                        {% image block.value width-400 class="blog-page-image border mb-4" %}
                    {% endif %}

                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
