{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="row d-flex justify-content-center mb-5">

    <div class="col-8">

        {% if request.GET.tag|length %}
            <h3 class="text-center pb-5">Posts tagged "{{ request.GET.tag|capfirst }}"</h3>
        {% endif %}

        <!-- Post listing -->

        {% for post in posts %}

            <div class="row mb-4">

                <div class="col-3 pl-5">
                    {% if post.main_image %}
                        <a href="{% pageurl post %}">{% image post.main_image fill-100x100 class="blog-list-image" %}</a>
                    {% endif %}
                </div>

                <div class="col">

                    <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>

                    <div class="text-muted"><small>{{ post.date }}</small></div>

                    {% with body=post.body %}
                        {{ body|truncatechars:95 }}
                    {% endwith %}

                </div>

            </div>

        {% endfor %}

    </div>

</div>

{% endblock %}
