{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    <div class="row d-flex justify-content-center mb-5">

        <div class="col-8">

            <!-- Page description -->

            <h1 class="text-center">
                {{ page.title }}
            </h1>

            <h5 class="text-center mt-3 text-muted">
                {{ page.intro|richtext }}
            </h5>

            <!-- Post listing -->

            <div class="pt-4">

                {% for post in posts %}
                    {% with post=post.specific %}

                        <div class="row mb-4">

                            <div class="col-3 pl-5">
                                {% if post.main_image %}
                                    <a href="{% pageurl post %}">{% image post.main_image fill-100x100 class="blog-list-image border" %}</a>
                                {% endif %}
                            </div>

                            <div class="col">

                                <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>

                                <div class="text-muted"><small>{{ post.date }}</small></div>

                                {% with body=post.body|richtext %}
                                    {{ body|truncatechars:95 }}
                                {% endwith %}

                            </div>

                        </div>

                    {% endwith %}
                {% endfor %}

            </div>

            <!-- Pagination -->

            {% if posts.has_other_pages %}

                <div class="pt-2">

                    <ul class="pagination justify-content-center">

                        <!-- Previous page arrow -->
                        {% if posts.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#" >&laquo;</a></li>
                        {% endif %}

                        <!-- Page numbers -->
                        {% for i in posts.paginator.page_range %}
                            <!-- Active page -->
                            {% if posts.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                            <!-- Inactive pages -->
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- Next page arrow -->
                        {% if posts.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#" >&raquo;</a></li>
                        {% endif %}

                    </ul>

                </div>

            {% endif %}

        </div>

    </div>

{% endblock %}
